<html>
    <head>
    </head>
    <body>
        <div class = "signin" id="googleimage">
            <%= link_to image_tag("googlebutton.png"), '/auth/google_oauth2', id: "googleimage" %>
        </div>
    </body>
</html>



<!-- 
Sources
https://www.iphone2lovely.com/wp-content/uploads/2016/05/bodybuilding-hd-wallpapers-1920x1080.jpg  //arnold shwarzenegger conquer
-->

