<html>
    <head>
    </head>
    <body>
        <% if @current_user %>
            <div class = "logout" id="weblogout">
                <h1 style="color:white;">
                    <%= link_to image_tag("logout.png", :size => "50x50"), "/sessions/destroy", id: "weblogout" %>
                </h1>
            <h1 style="color:white;">
                Signed in as <strong><%= @current_user.name %></strong>!
            </h1>  
            </div>
        <% else %>
            <div class = "signin" id="googleimage">
                <%= link_to image_tag("googlebutton.png", :size => "250x50"), '/auth/google_oauth2', id: "googleimage" %>
            </div>
        <% end %>
    </body>
</html>



<!-- 
Sources
https://www.iphone2lovely.com/wp-content/uploads/2016/05/bodybuilding-hd-wallpapers-1920x1080.jpg  //arnold shwarzenegger conquer
-->

